@charset "UTF-8";

/**
 * 全局样式
 * 类名以 "g-" 开头
 */

html {
  background-color: $bg-color;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
  touch-action: pan-y;
  user-select: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
    font-family: PS-Helvetica, 'Sketch-Heiti SC', Helvetica, sans-serif, Arial;
    color: #333;
    width: 100%;
    min-height: 100%;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    font-size: .16rem;
    line-height: 1.6;
}
.scroller-pt{
    position: absolute !important;
    left: 0;
    top: 88px;
    bottom: 44px;
    width: 100%;
    z-index:100;
}

.pd-bt-bar{
  padding-bottom:45px;
}

.i-header + .v-content{
  .scroller-pt{
    top: 108px;
    bottom: 44px;
  }
  .vux-popup-dialog .popue-title{
     padding-top: 20px;
  }
}

.more-pulg{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -100px;
    text-align: center;
}
.vux-popup-dialog {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 501;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}
/* 头部css */

.g-header {
  padding: 0;
  position: fixed;
  z-index: 1;
  @include border-line();
}

.ellipsis{
  margin:0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-align:center;
}
.weui_dialog {
  color: $font-color-main;
  border-radius: 8px;
  .popue-title {
    padding: 26px 15px 15px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .popue-content {
    @extend .listTxt;
    padding: 0 13px 26px;
  }
  .popue-footer {
    @include border-radius((border-top: 1px solid $border-line));
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: $main-color;
    display: flex;
    .defaul_btn {
      height: 100%;
      width: 100%;
      color: #00aaee;
      font-size: .17rem;
      &:active {
        color: #0091cb;
      }
    }
  }
}

.vux-header {
  background-color: #fff;
  width: 100%;
  /*   position: absolute;
  top: 0;
  left: 0; */
  h1.vux-header-title {
    height: 44px;
    line-height: 44px;
    margin-left: .68rem!important;
    margin: 0 .68rem;
    color: $font-color-main;
  }
  .vux-header-left,
  .vux-header-right {
    top: 0;
    height: 44px;
    line-height: 44px;
    width: auto;
    a,
    button {
      color: $power-color;
    }
  }
  .vux-header-left {
    .left-arrow {
      height: 44px;
      top: 0;
      left: 0;
      &:before {
        -webkit-transform: rotate(315deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        border-color: #353535;
        width: 13px;
        height: 13px;
        top: 22px;
        left: 0;
      }
    }
  }
}

.v-content {
  padding-top: 44px;
  width: 100%;
  overflow-y: auto;
}

.i-header {
  padding-top: 20px;
  .vux-header-left,
  .vux-header-right {
    top: 20px;
  }
  & + .v-content{
    padding-top: 64px;
    .popue-sign-header {
      padding-top: 20px;
      .closebtn {
        top: 20px;
      }
    }
  }
}

/* 头部end */

.weui_cells_title {
  margin: 0;
  padding: .11rem .15rem .09rem;
  @include border-radius((border-top: 1px solid $border-line));
}

.weui_cells {
  margin-top: .15rem; 
  .weui_cell {
    padding: .135rem .15rem .115rem!important;
    &:before {
      border-top: 1px solid #e5e5e5;
    }
  }
  .weui_cell_hd {
    flex: 0 0 auto;
  } 
  .weui_cell_bd {
    p {
      color: #333;
    }
  }
  .weui_cell_ft {
    color: #333;
    &.with_arrow {
      padding-right: 20px;
    }
  }
}
.cell-ft-left{
  .weui_cell_ft{
    width:100%;
    text-align:left;
  }
}
.weui_cell_ft.with_arrow:after {
  position: absolute!important;
  top: 50%!important;
  right: 15px!important;
  height: 8px!important;
  width: 8px!important;
  margin-top: 0!important;
  border-color: #c7c8cc!important;
  -webkit-transform: translateY(-50%) rotate(45deg)!important;
  transform: translateY(-50%) rotate(45deg)!important;
  margin-left: 0!important;
}

.weui_cell_select .weui_cell_bd:after {
  height: 8px!important;
  width: 8px!important;
  margin-top: 0!important;
  border-color: #c7c8cc!important;
  -webkit-transform: translateY(-50%) rotate(45deg)!important;
  transform: translateY(-50%) rotate(45deg)!important;
}
.cell-hd-top{
  .weui_cell_hd{
    align-self: flex-start;
  }
  .vux-label-desc{
    color:#a5a5a5;
  }
}
.search-group {
  .weui_cells {
    margin-top: 0;
  }
  .vux-search-fixed {
    position: static;
  }
  .weui_search_bar {
    padding: .07rem .1rem;
    height: .42rem;
    &:before {
      border-top: none;
    }
    &:after {
      border-bottom: 1px solid #e5e5e5;
    }
    .weui_icon_clear,
    .weui_icon_search {
      top: -.01rem;
      line-height: .28rem;
      height: .28rem;
    }
    .weui_search_text {
      height: .28rem;
      line-height: .26rem;
    }
    .weui_search_input {
      padding: .08rem 0 0.06rem;
      height: .14rem;
      line-height: 1;
      font-size: .14rem;
    }
    .weui_search_cancel {
      font-size: 14px;
      color: #00aaee;
      line-height: 0.28rem;
    }
  }
}

.weui_cell_select {
  height: .20rem;
  .weui_select {
    height: .44rem;
    line-height: .44rem;
    color: #333;
    direction: rtl;
    padding-right: 25px !important;
  }
}

a {
  color: $main-color;
}

.weui_toast {
  top: 2.25rem;
  width: 1.05rem;
  min-height: 1.05rem;
  background: rgba(31, 35, 55, .9);
  p.weui_toast_content{
    color: #fff;
    font-size:13px;
  }
  .weui-icon_toast.weui-loading {
    margin: .18rem 0 0;
    width: .41rem;
    height: .41rem;
    p.weui_toast_content {
      padding: 10px;
      line-height: 1;
    }
    .g-toast-img {
      margin: .08rem auto .15rem;
      width: .41rem;
      height: .41rem;
    }
    p {
      color: #fff;
      font-size: 13px;
    }
    .g-toast-p {
      padding-bottom: .09rem;
      color: #fff;
      height: .12rem;
      line-height: 1;
    }
  }
}
.vux-toast{
  .weui_toast{
    &.weui_toast_text{ 
      .weui_toast_content{
        padding: 15px 0;
        font-size:0;
        img{
          width:.41rem;
          height: .41rem;
          background-size:cover;
          margin:.04rem 0 .1rem;
        }
        .g-toast-p{          
          color:#fff;
          font-size:0.13rem;
        }
        p{
          font-size:0.13rem;
          color:#fff;
          padding:0 15px;
        }
      }
    }
  }

  &.toast-text{
    .weui_toast{
      width:auto;
      .weui_toast_content{
        p{
          font-size:0.15rem;
        }
      }
    }  
  }
}
.weui_btn {
  line-height: .45rem;
  &.main-btn {
    border: none;
    color: #fff;
    border-radius: .04rem;
    background-color: #00aaee;
    button {
      color: #fff;
    }
    &:after {
      width: 0;
      height: 0;
      position: static;
      border: none;
      border-radius: 0;
    }
    &:active {
      color: #fff;
      background-color: #0091cb;
    }
  }
}

.gsm-primary-btn {
  @extend .listR-note;
  color: #fff;
  padding: 2px 5px;
  background: #00aaee;
  border-radius: 4px;
}

.btnDisabled {
  background: #ddd;
}

.my-radio {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a5a5a5;
  margin-left: 8px;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 4px;
    margin-top: -4px;
    margin-left: -5px;
    border-width: 0 0 2px 2px;
    border-color: #fff;
    border-style: solid;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

.my-radio.actived,
.invoice-s-title .my-radio {
  background: #00aaee;
}

p {
  color: #888;
  font-size: .12rem;
}

h4 {
  color: #666;
  font-weight: normal;
}

.marg-b15 {
  margin-bottom: .15rem;
}

.mar-55 {
  margin-bottom: 55px;
}

.g-tip-item {
  box-sizing: border-box;
  width: 100%;
  font-size: 13px;
  padding: .1rem .15rem;
  background-color: #fff391;
  color: #f85f06;
}

.g-orange {
  color: orange;
}

.g-cen {
  text-align: center;
}



.weui-tabbar {
  position: fixed;
  background-color: #ffffff;
}
.weui-tabbar__item {
  color: #666;
  padding: 5px 0 0;
  .weui-tabbar__icon {
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    i {
      height: 20px;
      width: 20px;
      display: block;
      background-size: cover;
      &.home {
        background-image: url(./../img/shopping-bag.png);
      }
      &.user {
        background-image: url(./../img/user.png);
      }
    }
  }
  &.weui-bar__item_on {
    .weui-tabbar__icon i {
      &.home {
        background-image: url(../img/shopping-bag-active.png);
      }
      &.user {
        background-image: url(../img/user-active.png);
      }
    }
    .weui-tabbar__label {
      height: 20px;
      line-height: 20px;
      color: $main-color;
    }
  }
}
.vux-tab{
  .vux-tab-item {
    &.flex{
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      width: 25%;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    @include border-line();
    &.vux-tab-selected {
      border-bottom: none;
      color: #00aaee; 
    }
  } 
  &.vux-tab-no-animate{
    .vux-tab-item.vux-tab-selected {
       @include border-line()
    }
  }
}

/* .weui-tabbar__item.vux-tabbar-simple{
  height: 45px;
  line-height: 45px;
} */
/* .vux-tab {
  .vux-tab-item {
    &.vux-tab-selected {
      color: $main-color;
      border-bottom: 3px solid $main-color;
    }
  }
} */


/**
 * 2017.03.23
 */
.self-sell{
    @include border-radius((border: 1px solid #f23030, border-radius: 4px));          
    display: block;
    box-sizing: border-box;
    color: #f23030;
    font-size: 9px;
    line-height: 12px;
    height: 12px;
    padding: 0 2px;
    margin-right: 3px;          
}

.supprts-icon{
    height: 15px;
    line-height: 15px;
    box-sizing: border-box;
    margin-right:3px;
    padding: 0 2px;
    background: #f23030;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
}
.g-foot {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.g-mg-0 {
  margin: 0;
}

.g_supprts {
  padding: 0 5px;
  border: 1px solid $warning-color;
  color: $warning-color;
  border-radius: 2px;
  min-width: 32px;
  text-align: center;
}

.g_sale {
  background: #eef2f3;
  padding: 0 5px;
  border-radius: 2px;
  color: $tab-color;
}

.g_price {
  color: $warning-color;
}
.big-price{
  font-size: 20px;
}
.num-icon {
  font-size: 10px;
}

.g_num18 {
  font-size: 18px;
  margin-right: 4px;
}

.g_num24 {
  font-size: 24px;
  margin-right: 5px;
}

.g_tranline {
  height: 5px;
  width: 100%;
  background-image: url('../img/trangle-line.png')
}

.g-tip-page {
  padding: 30px;
  text-align: center;
  font-size: 0;
  background: #fff;
  img {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
  }
  .tip-status {
    font-size: 22px;
    line-height: 1;
    margin: 0 0 10px;
    color: #00aaee;
  }
  .status-code {
    font-size: 14px;
    margin-bottom: 11px;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    background-color: #00aaee;
    border-radius: 2px;
    padding: 0 10px;
  }
  .check-condition {
    color: #a5a5a5;
    font: 16px;
    line-height: 1;
  }
}

.cell-input {
  .weui_cell_bd {
    padding-right: 10px;
    .weui_input {
      text-align: right;
    }
  }
}

.list-tp-note {
  padding: 8px 15px;
  background-color: #fff851;
  color: #f85800;
  display: flex;
  align-items: center;
  font-size: 13px;
  i {
    color: #f85800;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.weui_switch:checked {
  border-color: #00aaee;
  background-color: #00aaee;
}

.weui_cell_switch {
  .weui_cell_ft {
    display: flex;
  }
}

.weui_icon_clear:before {
  margin-top: -.02rem;
}

.weui_label,
.weui_input {
  color: #333;
}

.flex-v-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g_sale,
.g_supprts,
.prologo {
  font-size: 12px;
  display: inline-block;
  height: 18px;
  line-height: 18px;
}

.i-andrios + .v-content {
  .g_sale,
  .g_supprts,
  .prologo {
    line-height: 21px;
  }
  .gsm-primary-btn{
    padding: 3px 5px 1px;
  }
  .self-sell{
    padding: 1px 2px 0px 2px;
  }
  .supprts-icon{
    padding: 1px 2px 0;
  } 
}

.g-pd-1 {
  padding: .1rem;
}

.g-txt-i {
  font-weight: bold;
}

.g-txt-g {
  color: #999;
}

.cell-small .weui_cell_ft{
  line-height:1;
}
.pd-lf17{
  padding-left:17px;
}
