@charset "UTF-8";

/**
 * 自定义变量
 */

$bg-color: #f5f5f9; // app ground color
$main-color: #00aaee;
$bulletin-color: #ea5504;
$warning-color: #f4333c;
$tip-color: #ff8208;
$default-color: #a5a5a5;
$power-color: #fff;
$tab-color: #666;
$placeHolder-color: #ccc;
$main-border-color: #ddd;
$border-line: #e5e5e5;
$font-color-main: #333;
$font-color-power: #fff;
// 数字
// 尺寸
$onerem: 100px;
$bordercolor: #cfcfcf;
$border-radius: 0;
$border-radius-lg: 5%;
$border-radius-base: 4px;

.warn-color{
   color: $warning-color;
}
@media only screen and (max-width:340px) {
    .weui_btn,.vux-header-title{
        font-size: 16px;
    }
    .btnTip,.listTxt,.numInput,.weui_cell_bd > p,.weui_label,.wb-flex-item p{
        font-size: 16px;
        line-height: 20px;
    }
    .inputTxt,.weui_cell_ft,.weui_select,.weui_input,.weui_cell_bd > p {
        font-size: 15px;
        line-height: 20px;
    }
    .listR-note,.eui_cell_ft,.vux-header .vux-header-right,.wb-flex-item h3 {
        font-size: 14px;
        line-height: 19px;
    }
    .listAid,.vux-label-desc,.weui_cells_title {
        font-size: 13px;
        line-height: 18px;
    }
    .listBt,.list-bt-note {
        font-size: 12px;
        line-height: 17px;
    }
    .weui_select ,.weui_input{
        height: 18px;
    }
    .weui_cells {
        line-height: 18px;
    }
}

@media only screen and (min-width:341px) and (max-width:380px) {
    .weui_btn,.vux-header .vux-header-title{
        font-size: 17px;
    }
    .btnTip,.listTxt,.numInput,.weui_label,.wb-flex-item p {
        font-size: 16px;
        line-height: 20px;
    }
    .inputTxt,.weui_cell_ft,.weui_select,.weui_input,.weui_cell_bd > p {
        font-size: 15px;
        line-height: 20px;
    }
    .listR-note,.eui_cell_ft,.vux-header .vux-header-right,.wb-flex-item h3 {
        font-size: 14px;
        line-height: 18px;
    }
    .listAid,.vux-label-desc,.weui_cells_title {
        font-size: 13px;
        line-height: 19px;
    }
    .listBt,.list-bt-note {
        font-size: 12px;
        line-height: 18px;
    }
    .weui_select ,.weui_input {
        height: 20px;
    }
    .weui_cells {
        line-height: 20px;
    }
}

@media only screen and (min-width:381px) {
    .weui_btn,.vux-header .vux-header-title,{
        font-size: 19px;
    }
    .btnTip {
        font-size: 18px;
    }
    .listTxt,.numInput,.weui_label,.wb-flex-item p {
        font-size: 17px;
        line-height: 22px;
    }
    .listR-note,.weui_cell_bd > p,.eui_cell_ft,.vux-header .vux-header-right,.wb-flex-item h3 ,.inputTxt,.weui_cell_ft,.weui_select,.weui_input{
        font-size: 16px;
        line-height: 22px;
    }
    .listAid,.vux-label-desc,.weui_cells_title {
        font-size: 14px;
        line-height: 18px;
    }
    .listBt,.list-bt-note {
        font-size: 13px;
        line-height: 18px;
    }
    .weui_select ,.weui_input {
        height: 22px;
    }
    .weui_cells {
        line-height: 22px;
    }
}
