.post-info {
  padding: 20px 10px;
  background: #fff;
  position: relative;
  .line {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-repeat: no-repeat;
  }
  .post-line-t {
    top: 0;
    background-image: url('../img/post-line-t.png');
  }
  .post-line-b {
    bottom: 0;
    background-image: url('../img/post-line-b.png');
  }
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    @extend .inputTxt;
    line-height: 16px;
    div {
      display: flex;
      align-items: center;
    }
    .icon {
      margin-right: 10px;
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-size: cover;
      &.icon-user {
        background-image: url('../img/post-user.png');
      }
      &.icon-phone {
        background-image: url('../img/post-phone.png');
      }
    }
  }
  .post-address {
    @extend .listBt;
  }
}

.after-sale {
  padding: 10px 15px;
  box-sizing: border-box;
  .sale-items {
    padding: .1rem 0;
    /*        position: relative;
         &::after {
            position: absolute !important;
            top: 50% !important;
            right: 15px !important;
            height: 8px !important;
            width: 8px !important;
            border-color: #c7c8cc !important;
            transform: translateY(-50%) rotate(45deg) !important;
            content: " ";
            display: inline-block;
            border-width: 2px 2px 0 0;
            border-style: solid;
        } */
  }
}

.logistics {
  .goods-avater {
    @extend .order-produce-avater;
  }
  .courier-avater {
    border-radius: 50%;
    margin-right: 18px;
  }
  .courier-phone {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('../img/post-phone.png');
    background-size: cover;
  }
}

.vux-timeline {
  padding: 0.05rem .15rem !important;
  background-color: #fff;
  .vux-timeline-item {
    .vux-timeline-item-color {
      background-color: #ddd!important;
    }
    .vux-timeline-item-tail {
      background-color: #ddd !important;
    }
    .vux-timeline-item-content {
      padding: 0 0 0.15rem 0.3rem!important;
      h4 {
        font-size: 14px;
        color: #ddd;
      }
      p{
        color: #ddd;
      }
    }
/*     .vux-timeline-item-head-first {
      background-color: #ddd!important;
    } */
    &:first-child {
      .vux-timeline-item-head-first{
        width: 10px;
        height: 10px;
        left: 1px;
        top: 4px;
        background-color: #ddd!important;
        .weui_icon{
          display: none;
        }       
      }           
    }
    &:last-child{
      .vux-timeline-item-head{
        width: 20px;
        height: 20px;
        left: -4px;
        top: 5px; 
        background-color: #00aaee!important;
        .weui_icon{
          display: block!important;
        }       
      }
      .recent ,p{
        color: #00aaee;
      }
    }
  }
}

.user-info {
  position: relative;
  display: flex;
  background-color: #02a2c6;
  padding: 12px 15px;
  color: #fff;
  .user-avatar {
    flex: 0 0 73px;
    position: relative;
    width: 73px;
    height: 73px;
    font-size: 0;
    margin-right: 16px;
    line-height: 1;
    img {
      border-radius: 50%;
      width: 73px;
      height: 73px;
    }
    .avar-mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 67px;
      height: 67px;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, .7);
    }
  }
  .user-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    .name {
      @extend .listTxt;
      height: 18px;
      line-height: 16px;
    }
    .bankNo {
      @extend .listBt;
      height: 18px;
    }
    .credit-num {
      font-size: 10px;
      display: flex;
      align-items: center;
      line-height: 18px;
      flex-wrap: wrap;
      .proground-b {
        height: 4px;
        width: 50px;
        position: relative;
        background: #02719e;
        border-radius: 4px;
        margin-right: 6px;
        .proground-t {
          position: absolute;
          top: 0;
          left: 0;
          width: 80%;
          height: 4px;
          border-radius: 4px;
          background: #ffc72c;
        }
      }
      .credit-total-num {
        color: #ffc72c;
        margin-left: 3px;
      }
    }
  }
  .user-credit-level {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    font-size: 9px;
    height: 16px;
    .level-code {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left:5px;
        content: "";
        background-color: #01628b;
        background-image:url('../img/user-credit.png');
        background-size:cover;
      /*         line-height: 16px;
        font-size: 9px;
        border: 2px solid #ffc72c;        
        box-sizing: border-box;
        font-weight: bold;
        color: #ffc72c;
        text-align: center; */
        
    }
  }
}
.i-andrios + .v-content{
    .user-credit-level{
        line-height: 20px;
        .level-code {
           line-height: 20px; 
        }
    }
}
.order-list {
  /* @include border-line(#e5e5e5); */
  .order-item {
    margin-top: 5px;
    background: #fff;
  }
  .order-header {
    display: flex;
    justify-content: space-between;
    padding: 11px 15px;
    @extend .listTxt;
    line-height: 16px;
    color: #333;
    .order-code {
      display: flex;
      .code-lable {
        @extend .listBt;
        line-height: 16px;
        color: #a5a5a5;
      }
      .num {
        margin-left: 12px;
      }
    }
  }
  .order-content {
    position: relative;
    font-size: 0;
    padding: 11px 15px;
    display: flex;
    align-items: center;
    background: #f8f8f8;
    @at-root .order-produce-avater {
      height: 70px;
      flex: 0 0 70px;
      width: 70px;
      margin-right: 18px;
      @include border-radius((border: 1px solid #e5e5e5, border-radius: 4px));
      padding: 4px;
      box-sizing: border-box;
      background: #fff;
      img {
        width: 62px;
        height: 62px;
      }
    }
    p {
      @extend .listTxt;
      flex: 1;
      color: #333;
    }
    .order-produce-info {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      min-height: 70px;
      justify-content: space-around;
      align-items: flex-end;
    }
    .after-sale-btn {
      @extend .listBt;
      line-height: 12px;
      .credit-risk,
      .apply-after-sale {
        padding: 4px 6px;
        line-height: 1;
        color: #fff;
        border-radius: 2px;
        line-height: 1;
        background: #00aaee;
        .num {
          font-size: 16px;
          color: #333;
          margin-right: 3px;
        }
      }
    }
  }
  .order-pay {
    @extend .listBt;
    height: 42px;
    line-height: 42px;
    text-align: right;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    @include border-line(#e5e5e5);
    .num-icon {
      font-size: 12px;
    }
    .g_price {
      font-size: 16px;
    }
  }
  .btn-deliver {
    height: auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    button {
      @extend .listTxt;
      @include border-radius((border: 1px solid $warning-color, border-radius: 4px));
      margin: 6px 0 6px 3px;
      padding: 0 9px;
      line-height: 30px;
      color: $warning-color;
    }
    .active {
      background: $warning-color;
      color: $power-color;
    }
  }
}

.order-confirm {
  .order-content {
    background: #fff;
  }
  .order-pay {
    background: #f8f8f8;
  }
  .pro-tips {
    font-size: 10px;
    color: #00aaee;
    li {
      display: inline-block;
      padding-left: 14px;
      position: relative;
      margin-right: 20px;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        background: #00aaee;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        left: 0;
      }
    }
  }
}

.order-detail {
  .order-content {
    background: #fff;
  }
}

.pay {
  .g_price {
    font-size: 16px;
  }
  .weui_cells_title {
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .weui_cells {
    margin-top: -1px;
    .vux-label-desc {
      font-size: 12px;
      color: #a5a5a5;
    }
  }
  .bank-avater {
        margin-right: 15px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    background-size: cover;
  }
  .vux-popup-dialog {
    .popue-title {
      @include border-line(#e5e5e5);
      @extend .listAid;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      background-color: #fff;
      color: #333;
      text-align: center;
    }
    .weui_cell {
      cursor: pointer;
    }
  }
  .confirmBox {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    .my-radio {
      margin-left: 0;
      margin-right: 15px;
    }
    span {
      @extend .listBt;
      color: $default-color;
    }
  }
  .weui_select_after {
    .weui_cell_ft {
      flex: 1;
    }
  }
}

.flex-layout {
  display: flex;
}

.address {
  .weui_label {
    width: 5em!important;
  }
  .weui_cell.weui_cell_select {
    padding: 0.13rem 0 0.11rem !important;
  }
}

.invoice-info {
  width: 100%;
  .selected-options {
    height: 44px;
    line-height: 44px;
    display: flex;
  }
  .invoice-item {
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 5px;
    .invoice-item-name {
      @extend .listR-note;
      height: 36px;
      line-height: 36px;
    }
    .invoice-d-type {
      @extend .listBt;
      padding: 6px 10px;
      @include border-radius((border: 1px solid #e5e5e5, border-radius: 4px));
    }
    .invoice-s-type {
      @include border-radius((border: 1px solid #00aaee, border-radius: 4px));
    }
    .invoice-title-radio {
      display: flex;
      align-items: center;
      margin-right: 15px;
      .my-radio {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .invoice-input {
      background: #d3d3d3;
      padding: 8px 8px;
      box-sizing: border-box;
      width: 100%;
      border-radius: 4px;
    }
  }
}

.pay-order .checker-box-title {
  @extend .listAid;
  color: #a5a5a5;
  padding: 8px 15px;
}

.pay-order .vux-checker-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: #fff;
  @include border-line(#e5e5e5);
  .checker-header {
    display: flex;
  }
  .checker-avater {
    width: 24px;
    height: 24px;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    &.alipay {
      background-image: url(../img/alipay.png);
    }
    &.weichat {
      background-image: url(../img/weichat.png);
    }
    &.unionpay {
      background-image: url(../img/unionpay.png);
    }
  }
}

.signature {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  padding: 60px 20px 10px;
  font-size: 9px;
  .goods-tabbar-label{
    font-size:16px;
  }
  .header-declaration {
    padding-top: 10px;
    text-indent: 2em;
    @extend .listBt;
    font-weight: 600;
  }
  h4 {
    color: #333;
    font-size: 14px;
    &.sign-title {
      padding: 10px 0;
      text-align: center;
    }
  }
  .sign-footer {
    width: auto;
    text-align: right;
    margin: 15px 0;
    font-size: 12px;
    .flex-end {
      .sign {
        line-height: 2em;
      }
      img.left {
        height: 2em;
      }
    }
  }
  .sign-p {
    text-indent: 2em;
    margin-bottom: 10px;
  }
  .b {
    font-weight: 700;
  }
  .underline {
    padding: 0 10px;
    border-bottom: 1px solid #a5a5a5;
  }
  .sign-lists {
    @extend .listBt;
    padding: 10px 0 0;
    .sign-item-title {
      text-align: center;
    }
    .item-title {
      font-weight: 700;
    }
    li {
      padding-left: 2em;
      li {
        padding-left: 2em;
      }
    }
  }
  table {
    width: 100%;
    font-size: 10px;
    th,
    td {
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 5px 0;
    }
    .table-list > li {
      padding-left: 5px;
    }
  }
  .left {
    text-align: left;
  }
}

.popue-sign-header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  .closebtn {
    position: absolute;
    right: 13px;
    top: 0;
  }
}