.more-plug{
    position: absolute;
    bottom:50px;
    margin-top:30px;
    text-align: center;
}
.good-detail {
    .vux-slider {
        @include border-line(#e5e5e5);
        box-sizing: border-box;
        padding: 20px 30px 35px;
        width: 100%;
        background-color: #fff;
        .vux-swiper {
            width: 100%;
        }
    }
    .g_sale {
        margin-right: 15px;
    }
    .pro-info {
        @extend .listTxt;
        @include border-line(#e5e5e5);
        padding: .2rem .15rem .1rem;
        line-height: 1;
        background-color: #fff;
        .pro-title {
            margin-bottom: 5px;
            font-size: 0;
            .prologo {
                padding: 0 5px;
                background: $main-color;
                color: $font-color-power;
                border-radius: 2px;
                margin-right: 12px;
                vertical-align: top;
            }
        }
        .advertising {
            padding-top: 5px;
            @extend .listAid;
            color: $warning-color;
        }
        .pro-info-footer {
            margin-top: 10px;
            height: 18px;
            line-height: 18px;
            .small {
                @extend .listBt;
                line-height: 18px;
                color: #747577;
                margin-right: 15px;
            }
            span,
            i {
                vertical-align: bottom;
            }
        }
        .installment-info {
            color: #747577;
                font-size: 0;
            .price {
                color: #d34a42;
                font-size: 20px;
            }
            .g_price {
                /* vertical-align: -webkit-baseline-middle; */
                margin-right:3px;
                vertical-align: bottom;
                font-size: 14px;
                .g_num24{
                    font-size: 24px;
                    vertical-align: bottom;
                    height: 20px;
                    line-height: 20px;
                    margin-right: 5px;
                }
            }
            .s{
                vertical-align: bottom;
                font-size: 14px; 
            }
        }
    }
    .promotion-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        .self-sell{
            margin-right:6px;
        }
    }
    .my-icon {
        height: 12px;
        width: 12px;
        display: inline-block;
        background-size: cover;
        margin-right: 5px;
        &.address {
            background-image: url(../img/address.png);
        }
        &.guarantee {
            margin-right: 2px;
            background-image: url(../img/guarantee.png);
        }
    }
    .service-guarantee {
        font-size:12px;
        margin-right: 5px;
        height: 12px;
        line-height: 12px;
        float: left;
        span{
            vertical-align: top;
        }
    }
    .g_supprts {
        margin-right: 10px;
    }
    .listAid {
        .weui_cell_bd > p {
            @extend .listAid;
            color: #a5a5a5;
        }
    }
}

.after-sale {
    width: 100%;
    background-color: #fff;
    .sale-items {
        @extend .listAid;
        .name {
            padding: 10px 0;
            display: flex;
            .icon {
                width: 15px;
                height: 15px;
                img {
                    width: 15px;
                    height: 15px;
                    background-size: cover;
                }
            }
            .txt {
                padding-left: .08rem;
                @extend .btnTip;
                color: #00aaee;
                line-height: 1;
            }
            &.package {
                background-image: url(../img/package.png);
            }
            &.shippment {
                background-image: url(../img/shippment.png);
            }
            &.after-sale-service {
                background-image: url(../img/after-sale-service.png);
            }
            &.after-sale-phone {
                background-image: url(../img/after-sale-phone.png);
            }
        }
        .after-sale-content {
            color: #666;
            font-size: 14px;
        }
        .listTxt {
            color: #666;
        }
    }
}

.goods-tabbar {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 99;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid $border-line;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    .goods-tabbar-item {
        flex: 1;
        height: 45px;
        line-height: 45px;
        color: $tab-color;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &.period {
            margin: 0 10px;
            text-align: left;
        }
        &.goods-tabbar-concat {
            width: 45px;
            flex: initial;
        }
        &.icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            font-size: 12px;
            .concat {
                width: 14px;
                height: 14px;
                background-image: url(../img/concat.png);
                background-size: cover;
                margin: 6px 0;
            }
        }
        &.pay {
            background-color: $main-color;
            color: #fff;
        }
        .g_price {
            padding: 0 2px;
            font-size: 18px;
        }
    }
}

.pay-wrapper,
.promotion-wrapper,
.service-wrapper,
.selectedControl {
    position: relative;
    height: 100%;
    p{
        font-size:14px;
        line-height: 14px;
    }
    .wrapper-title {
        height: 40px;
        line-height: 40px;
        color: #a5a5a5;
        font-size: 14px;
        text-align: center;
    }
    .main-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0 !important;
    }
    .self-sell {
        line-height: 14px;
        height: 14px;
    }
    .weui_cell_hd{
        margin-right:5px;
    }
    .my-icon{
        height: 14px;
        width: 14px;
    }
}
.service-wrapper .cell-hd-top p{
    margin-bottom: 5px;
}
.btn-close {
    float: right;
    margin-right: 13px;
    color: #a5a5a5;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
}

.selectedControl {
    .selected-head {
        @include border-line(#e5e5e5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-left: 90px;
        height: 50px;
        .pro-avater {
            position: absolute;
            top: -30px;
            left: 10px;
            padding: 5px;
            background: #fff;
            border-radius: 4px;
        }
    }
    .selected-content {
        .selected-item {
            padding: 10px 10px 0;
            .selected-name {
                @extend .listR-note;
                line-height: 1;
                color: #666;
                width: 100%;
            }
            .selected-options {
                line-height: 40px;
                font-size: 12px;
                button {
                    display: inline-block;
                    font-size: 12px;
                    padding: 3px 8px;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    margin-right: 5px;
                    &.active {
                        color: $warning-color;
                        border: 1px solid $warning-color;
                    }
                }
                .supports {
                    display: flex;
                    align-items: center;
                    height: 28px;
                    line-height: 28px;
                    .icon {
                        height: 12px;
                        width: 10px;
                        display: inline-block;
                        background-size: cover;
                        margin-right: 9px;
                        background-image: url(../img/gift.png);
                    }
                }
            }
        }
    }
}
